.user__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1;

    width: 100%;
    padding: 0 55px;
    color: #FFFFFF;
}

.user__sider {
    position: fixed;
    max-width: 300px;
    height: 100vh;
    background-color: #F0F2F5;
}

.user__content {
    overflow: initial;
    margin: 0 50px 0 316px;
    padding: 20px 84px 0;
    background-color: #FFFFFF;
}
