.user-info {
    display: flex;
    align-items: center;
    width: 600px;
}

.user-info-title {
    width: 150px;
}

.edit-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
}

.user-info-editor {

}