.modal__btn-show {
    padding: 0 0.4rem;
}

.btn-edit {
    height: 31px;
    width: 31px;
    margin-right: 0.4rem;
}

.btn-edit:hover {
    background-color: #bdbfc1;
}

.modal__input-item-name {
    margin-bottom: 0.5rem;
}