.notification-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.notification-switch {
    margin-bottom: 15px;
}

.notification-checkboxes {
    display: flex;
    flex-direction: column;
}

.notification-item {
    margin: 0 0 10px 8px;
}