.notifications-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.63rem;
}

.notifications-switch-wrapper {
    margin-bottom: 1rem;
}

.notifications-switch,
.reminders-switch {
    margin-right: 1rem;
}

.notifications-checkboxes {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid #F0F2F5;
}

.reminders-switch-wrapper {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.reminders-switch__comment,
.notifications-switch__comment {
    font-size: 0.7rem;
    color: #9f9e9e;
}