.notification-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.63rem;
}

.notification-switch-wrapper {
    margin-bottom: 1rem;
}

.notification-switch,
.reminders-switch {
    margin-right: 1rem;
}

.notification-checkboxes {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid #F0F2F5;
}

.notification-item:not(:last-child) {
    margin: 0 0 0.63rem 0.5rem;
}

.reminders-switch-wrapper {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.reminders-switch__comment,
.notification-switch__comment {
    font-size: 0.7rem;
    color: #9f9e9e;
}