* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}


body, h1, h2, h3, p, ul, button, figure {
    margin: 0;
}

button {
    border: none;
    border-radius: 0;
    padding: 0 0.6rem;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
}

button:active {
    box-shadow: 0 0 5px #48555B;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}